
.jumbotron {
  margin: 0;
  padding: 2rem;
  background-color: rgba(190,190,190, 0.9);
}

.toolbar {
  margin-top: 1rem;
}

.main-container {
  background-image: url(https://source.unsplash.com/collection/251966/1500x1600);
  display: cover;
  min-height: 50rem;
}

.sort-bar {
  display: flex;
  margin: 0;
  margin-top: .25rem;
  background: rgba(190,190,190, 0.8);
  width: 100%;
  text-align: center;
}

.sort-bar div:hover {
  color: white;
  background: rgba(128,128,128, 0.8);
}

.food-cards {
  display: flex;
  flex-wrap: wrap;
}

.each .card-name {
  font-size: 2rem;
  background: rgba(128,128,128, 0.8);
  margin-bottom: 1rem;
}

.food-cards .each {
  padding: 2rem;
  min-width: 15rem;
  max-width: 25rem;
}

.recipe-card {
  padding: 3rem;
  min-width: 25rem;
  max-width: 40rem;
  list-style: none;
}

.card {
  background-color: rgba(190,190,190, 0.8);
  margin: 1.5rem;
  width: 10rem;
  text-align: center;
}

.card img {
  width: 100%;
}

.ingredient-list {
  list-style: none;
}

.update {
  padding: 2rem;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
}

.main-buttons {
  padding: 2rem;
  height: 10rem;
  min-width: 10rem;
  margin: 6rem;
  border-radius: 3px;
  color: white;
  background: rgba(190,190,190, 0.8);
  border: rgba(210,210,210, 0.9);
  -webkit-box-shadow: 3px 11px 23px -6px rgba(0,0,0,0.23);
  -moz-box-shadow: 3px 11px 23px -6px rgba(0,0,0,0.23);
  box-shadow: 3px 11px 23px -6px rgba(0,0,0,0.23);
}

.main-buttons:hover {
  background: rgba(210,210,210, 0.9);
  -webkit-box-shadow: 3px 11px 23px -6px rgba(0,0,0,0.0);
  -moz-box-shadow: 3px 11px 23px -6px rgba(0,0,0,0.0);
  box-shadow: 3px 11px 23px -6px rgba(0,0,0,0);
  color: rgb(64,64,64);
}

.card-perish {
  color: rgb(244, 229, 66);
  font-size: 2rem;
  background: rgba(110,110,110, 0.9);
  text-align: center;
  border-radius: 3px;
}

form {
  color: black;
  background: rgba(210,210,210, 0.5);
  text-align: center;
  border-radius: 3px;
  margin: 5rem;
  padding: 1rem .5rem;
}

.dialogue {
  color: white;
  background-color: rgba(190,190,190, 0.8);
}

.dialogue-empty {
  color: black;
  background-color: rgba(190,190,190, 0.8);
}

.dialogue-container {
  text-align: center;
}
